/* Do not remove this comments bellow. It's the markers used by wiredep to inject
   sass dependencies when defined in the bower.json of your dependencies */
// bower:scss
// endbower

@import "../../styles/mixins/bem.scss";
@import "../../styles/mixins/variables.scss";

.Card {
	background-color: #FaFaFa;
	margin: 0rem 1rem;
	padding: 1rem 2rem 2rem;
	border-radius: 0.3rem;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
}