.article {
  position: relative;
  top: -12rem;
}
.title-article {
	display: block;
	font-size: 3.2rem;
	line-height: 6.4rem;
	font-family: 'Helvetica', Arial, sans-serif;
	font-weight: 600;
	color: rgba(0,0,0,0.84);
	margin-bottom: 0.24rem;
}
hr.separator {
  border: solid 1px rgba(0,0,0,0.03);
  margin: 16px 0px;
}
.date {
	color: rgba(0,0,0,0.54);
  font-size: 1.344rem;
  letter-spacing: 0.048rem;
}
.category {
	color: rgba(0,0,0,0.54);
  font-size: 1.344rem;
  letter-spacing: 0.048rem;
}
p.text-article {
  font-family: Georgia, serif;
  font-size: 1.808rem;
  line-height: 170%;
  color: rgba(0,0,0,0.84);
}
.titleinputs{
	display: block;
  margin: 0px 0px 1.28px;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 0.128rem;
  color: rgba(0,0,0,0.35);
}