/* Do not remove this comments bellow. It's the markers used by wiredep to inject
   sass dependencies when defined in the bower.json of your dependencies */
// bower:scss
// endbower

@import "../../../styles/mixins/bem.scss";
@import "../../../styles/mixins/variables.scss";

.Header {
  
    // .Header--container
    @include modifier(container) {
        height: 264px;
        background-color: rgba(0, 0, 0, 0.04);
        box-shadow: 0px 1px 2px rgba(0,0,0,0.15);
    }
    
    display: flex;
    align-content: center;
    font-size: $font-size-body;
    
    // .Header-title
    @include element(title) {
        /* GDGdia: */
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        font-size: $font-size-large;
        line-height: $line-height-large;
        color: #000000;
    }
    
    // .Header-button
    @include element(button) {
        
        /* Box : */
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 4.8em;
        border-radius: 3px;
        padding-left: 1.6em;
        padding-right: 1.6em;
        margin-left: auto;
        
        // .Header-button--green
        @include modifier(green) {
        
          color: rgb(54, 148, 110);
        
          .Header {
            
            @include element(button) {
              
              @include element(text) {
                
                &:hover {
                  background-color: rgb(54, 148, 110);
                  color: white !important;
                  box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
                }
                
              }
              
            }
            
          }
        
        }
    
        // .Header-button--gray
        @include modifier(gray) {
            background: #5FA80F;
        }
        
        @include element(text) {
          /* Text : */
          background-color: transparent;
          font-size: $font-size-base;
          // line-height: $font-size-base;
          border: 0px;
          border-radius: 0.3em;
          font-family: 'Helvetica', Arial, sans-serif;
          font-weight: bold;
          box-shadow: 0px 0px 0px rgba(0,0,0,0.0);
          word-break: break-all;
          min-width: 64px;
          height: 48px;
          margin: 8px 0px;
          padding: 0.8rem 0.8em 0.8rem 0.6rem;
          transition: all 0.35s;
          cursor: pointer;
          
          // .Header-button-text-icon
          @include element(icon) {
            vertical-align: bottom;
          }
        }
        
    }
    
}

/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
