/* Do not remove this comments bellow. It's the markers used by wiredep to inject
   sass dependencies when defined in the bower.json of your dependencies */
// bower:scss
// endbower

@import "../../styles/mixins/bem.scss";
@import "../../styles/mixins/functions.scss";
@import "../../styles/mixins/variables.scss";

.Post {

  /* card: */
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.30);
  border-radius: 3px;
  padding: 4rem;
  font-family: $font-family-default;

  @include element(header) {
    display: flex;
    flex-direction: column;
    height: 108px;

    @include element(articleTitle) {
      /* Enacabezado: */
      font-size: 24px;
      font-weight: bold;
      color: #000000;
      line-height: 30px;
    }

    @include element(articleDivider) {
      /* Line: */
      border: 1px solid rgba(0,0,0,0.10);
      margin-bottom: 2rem;
      margin-top: 2rem;
    }

    @include element(articleDate) {
      /* Creado 23/07/2015: */
      font-size: 14px;
      color: rgba(0,0,0,0.54);
      line-height: 18px;
    }

  }

  @include element(articleContent) {
    /* Es un hecho establec: */
    font-size: 16px;
    color: #000000;
    line-height: 24px;
  }

  @include element(footer) {

    display: flex;
    flex-direction: row;
    margin-top: 2rem;

    @include element(articleBtn) {

      /* Button: */
      font-size: 16px;
      line-height: 18px;
      border-radius: 3px;
      padding: 0.8em;
      margin-right: 0.8em;

      @include modifier(readMore) {
        /* Rectangle 9: */
        border: 1px solid #4A90E2;
        color: #4A90E2;
        background: transparent;
        
        &:hover {
          background-color: #4A90E2;
          color: #FFFFFF;
        }
      }

      @include modifier(edit) {
        /* Editar: */
        font-size: 16px;
        color: rgba(0,0,0,0.54);
        line-height: 18px;
      }

    }
  }
}
figure {
  margin: 0;
}
.list-figure {
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    min-height: 35rem;
    border-radius: 5px 5px 0px 0px;
    background-image: url("https://g-design.storage.googleapis.com/production/v5/assets/renditions/wallpaper-1-1240.jpg");
    background-size: cover;
    background-position: center center;
}
.title-article {
	display: block;
	font-size: 3.2rem;
	line-height: 6.4rem;
	font-family: 'Helvetica', Arial, sans-serif;
	font-weight: 600;
	color: rgba(0,0,0,0.84);
	margin-bottom: 0.24rem;
}
.space-article{
    padding: 2.24rem 3.2rem 3.84rem 3.2rem;
}
.content-article{
    padding: 1.6rem 0rem 1.6rem 0rem;
}
hr.separator {
    border: solid 1px rgba(0,0,0,0.03);
    margin: 1.6rem 0;
}
.info {
  padding: 0;
}
.date {
	color: rgba(0,0,0,0.54);
    font-size: 1.344rem;
    letter-spacing: 0.03rem;
}
.category {
	color: rgba(0,0,0,0.54);
    font-size: 1.344rem;
    letter-spacing: 0.048rem;
}
p.text-article {
    font-family: Georgia, serif;
    font-size: 1.808rem;
    line-height: 170%;
    color: rgba(0,0,0,0.84);
}
.post-list-separator {
  display: block;
  height: 12rem;
}