<!--<div class="Post">
  <div class="Post-header">
    <div class="Post-header-articleTitle">
      {{PostTitle}}
    </div>
    <div class="Post-header-articleDivider"></div>
    <div class="Post-header-articleDate">
      Creado 23/07/2015
    </div>
  </div>
  <div class="Post-articleContent">
    {{PostText}}
  </div>
  <div class="Post-footer">
    <button  class="Post-footer-articleBtn Post-footer-articleBtn--readMore">Leer más</button>
  </div>
</div>-->

<article class="row box center-xs article">
  <div class="col-xs-12 col-md-8 Card no-padding">
    <figure class="list-figure" [ng-style]="{'background-image': 'url('+PostURL+')'}"></figure>
    <div class="col-xs-12 space-article">
      <div class="col-xs-12 start-xs">
        <h2 class="title-article">{{PostTitle}}</h2>
      </div>
      <hr class="separator">
        <div class="info col-xs-12">
        <div class="row">
          <div class="date col-xs-6 col-md-2 start-md start-xs">
            22/02/2015
          </div>
          <div class="category col-xs-6 col-md-5 start-xs">
            Arte y entretenimiento
          </div>
        </div>
      </div>
      <div class="content-article start-xs">
        <p class="text-article">{{PostText}}</p>
      </div>
      <div class="row">
        <div class="col-xs-12 start-xs">
          <a [router-link]="['/Blog/BlogDetail', {id: PostID}]" class="btn-ch btn-actions btn-edit">› Leer más</a>
        </div>
      </div>
    </div>
  </div>
</article>
<div class="post-list-separator"></div>