<div class="Post">
  <div class="Post-header">
    <div class="Post-header-articleTitle">
      {{id}} - {{title}}
    </div>
    <div class="Post-header-articleDivider"></div>
    <div class="Post-header-articleDate">
      Creado 23/07/2015
    </div>
  </div>
  <div class="Post-articleContent">
    {{description}}
  </div>
  <div class="Post-footer">
    <div class="Post-footer-articleBtn Post-footer-articleBtn--readMore">Leer más</div>
    <div class="Post-footer-articleBtn Post-footer-articleBtn--edit">Editar</div>
  </div>
</div>